<div *ngIf="!isSelected && !testPage">
    <ol class="breadcrumb">
        <li><button type="button" class="btn btn-link" (click)="routeRMA()">RMA</button></li>
        <li>GUIDs</li>
      </ol>
    <div class="page-header">
        <h1 class="text-center">RMA ID : {{rmaid}}&nbsp;/Date :{{date}}</h1>
    </div>
<div class="jumbotron">
    <p>New CH</p>      
    <form class="form-inline" #addCh="ngForm"(ngSubmit)="addNewCh(addCh)">
        <div class="form-group col-md-5">
          <label for="guid">GUID:</label>
          <input required type="text" class="form-control " id="guid" name="guid" ngModel>
        </div>&nbsp;&nbsp;
        <div class="form-group col-md-5">
            <label for="file">File:</label>
            <input required type="file" class="form-control" id="file" name="file" ngModel>
          </div>
        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Add CH</button>
      </form>
      
  </div>
  <br>
  <table class="table table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>
          <th rowspan="2" class="text-center">#</th>
          <th rowspan="2" class="text-center">Guid</th>
          <th colspan="2" class="text-center">Physical Inspection</th>
          <th rowspan="2" class="text-center">Test Completion Date</th>
          <th rowspan="2" class="text-center"></th>          
        </tr>
        <tr>
            <th class="text-center">Accept</th>
            <th class="text-center">Reject</th>
          </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let guid of guid; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center" *ngIf="guid.physicalInspectionResult==2 || guid.physicalInspectionResult==0"><button type="button" class="btn btn-link"  (click)="displayResults(guid.id)" disabled>{{guid.guid}}</button></td>
          <td class="text-center" *ngIf="guid.physicalInspectionResult==1"><button type="button" class="btn btn-link"  (click)="displayResults(guid.id)" >{{guid.guid}}</button></td>
          <td *ngIf="guid.physicalInspectionResult==0 || guid.physicalInspectionResult==2" class="text-center col-md-3"><button type="button" class="btn btn-secondary" (click)="onAccept(guid.id)">Accept</button></td>
          <td *ngIf="guid.physicalInspectionResult==1" class="text-center col-md-3"><button type="button" class="btn btn-success" disabled>Accept</button></td>
          <td class="text-center col-md-3" *ngIf="guid.physicalInspectionResult==0 || guid.physicalInspectionResult==1"> <div class="row"> <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="guid.rejectSelection">
                <option>Select</option>
              <option>Damaged</option>
              <option>Insufficient Packaging</option>
              <option>Non-Toshiba device</option>
              <option>Item not received</option>
              <option>No RMA claim received</option>
            </select></div> <div class="col-sm-2"><button type="button" class="btn btn-secondary" (click)="onReject(guid.id)">Reject</button></div></div></td>
            <td class="text-center col-md-3" *ngIf="guid.physicalInspectionResult==2"> <div class="row"> <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="guid.rejectReason" disabled>
              </div> <div class="col-sm-2"><button type="button" class="btn btn-danger"disabled>Reject</button></div></div></td>
          <td class="text-center">{{guid.completionTime}}</td>
          <td class="text-center"><input type="checkbox" [checked]="guid.selectionFlag" (change)="onChange($event,guid.id)"></td>
        </tr>
    
      </tbody>
    </table>
  <br>
    <div class="btn-group btn-group-justified " role="group" aria-label="Basic example">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Report</button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button>
            </div>
      </div>


      <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Delete</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
              <p>{{deleteText}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" *ngIf="count" (click)="deleteGuid()">Delete</button>
          </div>
        </div>
      </div>
    </div>

</div>




<div  *ngIf="isSelected">
    <ol class="breadcrumb">
        <li><button type="button" class="btn btn-link"  (click)="routeRMA()">RMA</button></li>
        <li><button type="button" class="btn btn-link" (click)="routeGUID()">GUIDs</button></li>
        <li>Results</li>
      </ol>
    <div class="page-header">
        <h1 class="text-center">RMA ID : {{rmaid}}&nbsp;/Date :{{date}}</h1>
        <h1 class="text-center"><small>Test Bench results for GUID:{{selectedGuid.guid}}</small> </h1>
    </div><br>
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Tests</th>
            <th class="text-center">Test bench Result</th>
            <th class="text-center">Toshiba Test result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of selectedGuid.processedResult; let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center"  *ngIf="getResultType(result.result)=='PASS'">{{getTestName(result.test_type)}}</td>
            <td class="text-center bg-danger" *ngIf="getResultType(result.result)=='FAIL'" ><button type="button" class="btn btn-link" (click)="displayTestPage(result.test_type)">{{getTestName(result.test_type)}}</button></td>
            <td class="text-center">{{getResultType(result.result)}}</td>
            <td class="text-center">{{getResultType(result.reTestResult)}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="jumbotron">     
          <form class="form-inline" #outcomeForm="ngForm" (ngSubmit)="saveOutcome(outcomeForm)">
              <div class="form-group col-md-5">
                <label for="date">Test Completion Date:</label>
                <input required type="date" class="form-control" id="date" name="date" ngModel>
              </div>
              <div class="form-group col-md-5 ">
                  <label for="outcome">Commshub Test Outcome:</label>
           <select required class="form-control" id="outcome" name="outcome" ngModel>
               <option>Contractor Fault</option>
               <option>NFF</option>
            </select>
         </div>
              <button type="submit" class="btn btn-primary" [disabled]="!outcomeForm.form.valid">Save</button>
            </form>
            
        </div>      
</div>

<div *ngIf="testPage">
    <ol class="breadcrumb">
        <li><button type="button" class="btn btn-link"  (click)="routeRMA()">RMA</button></li>
        <li><button type="button" class="btn btn-link" (click)="routeGUID()">GUIDs</button></li>
        <li><button type="button" class="btn btn-link" (click)="routeResults()">Results</button></li>
        <li>Test</li>
      </ol>
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
              <form class="form">
                  <div class="form-group">
                      <label for="comment">Actual Outcome:</label>
                      <textarea class="form-control" style="resize:vertical;" rows="10" id="comment"></textarea>
                  </div><br>
                  <div class="form-group">
                      <label for="date">Result:</label>
               <select class="form-control">
                   <option>PASS</option>
                   <option>FAIL</option>
                </select>
             </div><br>
             <div class="form-group">
                <label for="file">Test Evidence:</label>
                <input required type="file" class="form-control" id="file"><br> 
              </div><br>
                  <button type="submit" class="btn btn-primary btn-block">Save</button>
                </form>
                
          </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron"><img class="img-responsive" src="assets/Capture1.png" (click)="openImage()"></div>
        </div>
      </div>


            <!-- Image Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
              <img class="img-responsive img-thumbnail" src="assets/Capture.PNG">
          </div>
        </div>
      </div>
    </div>
</div>
